/* -------this is part is about responsive work------------------------------ */


@media (max-width : 1024px) {
    .inputBoxOrder span {
        position: absolute;
        /* border: 2px solid red; */
        width: 172px;
        font-size: 20px;
        text-transform: uppercase;
        margin: -38px 148px;
        pointer-events: none;
        transition: 0.5s;
    }
}


/* ------------------------------------------------------------------------------- */


.mainBookingController{
    /* border: 2px solid red; */
    height: 1045px;
}

.booking {
    /* border: 2px solid red; */
    margin: 85px 215px;
    height: 700px;
    width: 819px;
    background-image: url("/public/aboutFiles/feedback3.jpg");
    background-size: 100% 100%;
    padding: 2px 0px;
    border: 8px dotted #34c754;
    border-radius: 55px;
}

#orderForm {
    margin: 48px 174px;
    /* border: 2px solid red; */
    height: 377px;
    gap: 2px;
}

.inputBoxOrder {
    /* border: 2px solid red; */
    /* position: relative; */
    width: 426px;
}

.inputBoxOrder span {
    position: absolute; /*this is very imp point*/
    font-size: 20px;
    text-transform: uppercase;
    margin: -38px 187px;
    pointer-events: none;
    transition: 0.5s;
}

/* this is for input ------------------------------------------------- */
.inputBoxOrder input {
    width: 100%;
    padding: 10px;
    border: 7px solid rgb(16 233 93);
    /* background-color: antiquewhite; */
    border-radius: 15px;
    outline: none;
    /* when we switch from one input box to other input box we can see, switched box border turn to black*/
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;
}

/* valid~span => makes to keep span at particular place when we go for next input
focus~span => makes span to move upward left */

.inputBoxOrder input:valid~span,
.inputBoxOrder input:focus~span {
    color: yellow;
    transform: translateX(10px) translateY(-18px);
    font-size: 15px;
    background-color: white;
    margin: -45px 15px;
    padding: 0px 5px;
    border-left: 2px solid green;
    border-right: 2px solid green;
    letter-spacing: 3px;
    background-color: black;
    font-weight: bold;
}

.inputBoxOrder input:valid,
.inputBoxOrder input:focus{
    border: 7px solid yellow;
}


/*------------------------------------------------------------------------ */



/* this is for textarea ------------------------------------------------- */
.inputBoxOrder textarea {
    width: 100%;
    padding: 10px;
    border: 7px solid rgb(16 233 93);
    /* background-color: antiquewhite; */
    border-radius: 10px;
    outline: none;
    /* when we switch from one input box to other input box we can see, switched box border turn to black*/
    font-size: 20px;
    transition: 0.5s;
    font-weight: bold;
}

.inputBoxOrder textarea:valid~span,
.inputBoxOrder textarea:focus~span {
    color: yellow;
    transform: translateX(10px) translateY(-185px);
    font-size: 15px;
    background-color: white;
    margin: -90px 15px;
    padding: 0px 5px;
    border-left: 2px solid green;
    border-right: 2px solid green;
    letter-spacing: 3px;
    background-color: black;
    font-weight: bold;
}

.inputBoxOrder textarea:valid,
.inputBoxOrder textarea:focus{
    border: 7px solid yellow;
}



/*------------------------------------------------------------------------ */

#inp1Order{
    margin: -21px 2px;
}
#inp2Order{
    margin: 49px 2px;
}
#inp3Order{
    margin: -20px 2px;
}
#inp4Order{
    margin: 46px 2px;
}
#inp5Order{
    margin: -15px 2px;
}

.submitFeed{
    margin: 33px 169px;
    border: 2px solid;
    font-size: 20px;
    font-weight: bolder;
    padding: 3px 12px;
    border-radius: 47px;
    box-shadow: 1px 2px 12px 9px red;
    cursor: pointer;
}

#oderButton{
    border: 2px solid red;
    width: 223px;
    font-size: 35px;
    margin: -47px 484px;
    font-weight: bolder;
    border-radius: 19px;
    padding: 10px 38px;
    font-style: revert;
    background-color: red;
    transition: 0.5s;
}

#oderButton a{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

#orderForm p{
    color: red;
    font-weight: bold;
    margin: 18px 79px;
}

#oderButton:hover{
    font-size: 25px;
    width: 160px;
    transition: 0.5s;
    margin: -47px 510px;
}