/* -------this is part is about responsive work------------------------------ */


@media (max-width : 1024px) {
    .headingTag1 {
        /* border: 2px solid rebeccapurple; */
        width: 700px;
        margin: 59px 359px;
    }
}


/* ------------------------------------------------------------------------------- */


.homeSub2 {
    /* text-align: center; */
}

.headingTag1 {
    text-align: center;
    display: flex;
    margin: 28px 365px;
    font-family: 'Signika', sans-serif;
}

.mapping1 {
    display: flex;
    /* border: 2px solid red; */
    margin: -48px 202px;
}

.unicode {
    margin: -23px 16px;
    height: 51px;
    font-size: 75px;
}