/* this is for main div */
#card{
    /* border: 2px solid red; */
    text-align: center;
    height: 101px;
    width: 167px;
    box-shadow: 1px 5px 13px 3px rgb(109 96 96);
    margin: 110px 50px;
    position: relative;
    border-radius: 5px 5px;
    padding: 7px 17px;
    transition: 0.3s;
    cursor: pointer;
}

/* this is for image class */
.image{
    /* border: 2px solid red; */
    height: 142px;
    width: 162px;
    background-size: 100% 100%;
    position: relative;
    transform: translateY(-63px);
    box-shadow: 1px 5px 13px 3px rgb(109 96 96);
    border-radius: 5px 5px;
}

img{
    height: 142px;
    width: 162px;
}

.content{
    color: black;
    transform: translateY(-300px);
    opacity: 0;
}

.name{
    font-weight: bolder;
    color: red;
    font-size: 20px;
}

.price{
    font-weight: bolder;
}

#card:hover{
    height: 150px;
}

#card:hover > .content{
    transform: translateY(-70px);
    opacity: 1;
}
     