.homeSub1{
    /* text-align: center; */
}

.headingTag{
    text-align: center;
    display: flex;
    margin: 25px 469px;
}

/* .mapping{
    display: flex;
    /* border: 2px solid red; 
    margin: -48px 95px;
} */

.grid1 {
    display: flex;
    /* border: 2px solid red;  */
    margin: -48px 27px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.unicode{
    margin: -23px 16px;
    height: 51px;
    font-size: 75px;
}